h1,h2,.rst-content .toctree-wrapper p.caption,h3,h4,h5,h6,legend{margin-top:0;font-weight:700;font-family:Poppins, Arial, Helvetica, sans-serif; color: #424242;}

body {font-family: Poppins, Arial, Helvetica, sans-serif; font-weight:400; color: #616161;}
.wy-nav-side{background-color: #454648;}
.wy-side-nav-search{background-color: #DBE2E9}
.wy-menu-vertical header, .wy-menu-vertical p.caption{color: #B1D603;}
.wy-menu-vertical a:hover, .wy-menu-vertical a:active { background-color: #1A658F; color: #d9d9d9; }
.wy-menu-vertical a, .wy-menu-vertical a:visited { color: #d9d9d9; }
.wy-body-for-nav { background: #CED9E5; background-image: url("../NCAR-Waves-Vertical.png"); background-repeat: no-repeat; background-size: 630px 1827px; background-position-x: 97%; background-position-y: top;}

footer, footer a, footer a:visited, footer a:hover, footer a:active { color: #FFFFFF;  }
footer div[role=contentinfo] { color: #616161; }

a {color: #007FA3; }
a:visited { color: #1A658F; }
a:hover, a:active { color: #00797C; }

/* CSS for sphinx-prompt */

pre.highlight {
    border: 1px solid #e1e4e5;
    overflow-x: auto;
    margin: 1px 0 24px 0;
    padding: 12px 12px;
}

/* Tweak css for sphinx_prompt #5281 */
pre.highlight span[class^="prompt"] {
    font-size: 12px;
    line-height: 1.4;
}

@font-face{font-family:Poppins;font-style:normal;font-weight:200;src:url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:italic;font-weight:200;src:url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:normal;font-weight:300;src:url("../fonts/Poppins/Poppins-Light.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:italic;font-weight:300;src:url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:normal;font-weight:400;src:url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:italic;font-weight:400;src:url("../fonts/Poppins/Poppins-RegularItalic.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:normal;font-weight:600;src:url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype")}
@font-face{font-family:Poppins;font-style:italic;font-weight:600;src:url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype")}
